<div class="col-12 title" style="font-size:22px;background-color: black;color:white;justify-content: center;display: flex;margin-bottom: 1rem">
  <h3>Characters</h3>
</div>
<div class="container-fluid">

  <form #createBlogForm="ngForm" (ngSubmit)="search()">

    <div class="form-group  d-flex">
      <input type="text" name="name" [(ngModel)]="name" #title="ngModel" class="form-control" placeholder="Enter Name" required>
      <button type="submit" class="btn btn-default" [disabled]="!createBlogForm.form.valid" style="margin-left: 4px;;">Search</button>
    </div>


  </form>



  <div class="row" *ngIf='allCharacter.length>0  &&  charimg.length>0 ' style="justify-content: center;">


    <div class="card text-center character" *ngFor=' let character of allCharacter ;let y = index '>
      <div class="card-header">

      </div>
      <div class="card-body">
        <h5 class="card-title" *ngFor='let image of charimg;let k = index '>
          <div *ngIf='y==k  '>
            <img class="card-img-top" src="{{image.img}}" alt="Card image cap"> </div>
        </h5>
        <hr>
        <p class="card-title">Name: {{character.name}}</p>
        <p class="card-text">Culture:{{character.culture}}</p>


        <a [routerLink]="['/characterid',character.url.substr(character.url.lastIndexOf('/') + 1)]" class="btn btn-primary">Read More</a>
      </div>
      <div class="card-footer text-muted">
        {{character.gender}}
      </div>
    </div>





  </div>
</div>

<router-outlet></router-outlet>